@keyframes moveInRight {
  0% {
    visibility: visible;
    opacity: 0.3;
    transform: translate(-110vw, -90%);
  }
  50% {
    opacity: 0.8;
    transform: translate(-50vw, 30%); 
  }
  99% {
    transform: translate(-.2vw); 
  }
  100% {
    transform: translate(0); 
  }
}

* {
  padding: 0px;
  margin: 0px;
}

.section {
  width: 100vw;
  height: 100vh;
  background-color: #3c5870;
}

#pinkman {
  visibility: visible;
  position: absolute;
  width: 7rem;
  top: 30%;
  right: 8px;
  animation: moveInRight 4s ease-out;
}
